.navbar{
    background: transparent;
}

.vh-50{
    height: 50vh;
}

.max-height{
    max-height: 145px;
}

.img-price-position{
    bottom: 0;
    left: 0%;
}

@media only screen and (max-width: 350){
    .custom-d-xs-block{
        opacity: 0;
    }
}

.bg-gray-100{
    background: #eeeeee;
}
